@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.PetInformation
@{
    ViewData["Title"] = "Pet Description";
}
@using ContosoCrafts.WebSite.Models

<!DOCTYPE html>
<html lang="en">
<header>
    <h4>Pet Information</h4>
</header>
<style>
    .adopt-btn {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .btn-danger{
        border: 1px solid #ccc;
        margin-bottom: 10px;
        margin-left: 20px;
    }

</style>
<!--Added petinfo class to body to match the css specifications for this page-->
<body class="petinfo">
<!--Image of pet-->
    <img id="petimg" src="@Model.Product.Image" alt="{Add Image description}" />

<div>
    <!--Headers and information-->
    <p>Cost: @Model.Product.Cost</p>
    <p>Name: @Model.Product.Name, @Model.Product.Age</p>
    <p>Breed: @Model.Product.Breed</p>
    <p>Location: @Model.Product.Location</p>
    <p>Description: @Model.Product.Description</p>
</div>

<!--Button for deleting activities, and a button to adopt pet-->
    <div class="row">
        <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
        <!--Button to adopt a pet. This will remove it from the available listing and add it to the stories.-->
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Adopt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>

</html>
