@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.PetInformation
@{
    ViewData["Title"] = "Pet Description";
}
@using ContosoCrafts.WebSite.Models

<!DOCTYPE html>
<html lang="en">
<header>
    <h4>Pet Information</h4>
</header>

<!--Added petinfo class to body to match the css specifications for this page-->
<body class="petinfo">
<!--Image of pet-->
    <img id="petimg" src="@Model.Product.Image" onerror="this.src='/data/errorlogo.svg'" />

<div>
    <!--Headers and information-->
    <p>Cost: @Model.Product.Cost</p>
    <p>Name: @Model.Product.Name, @Model.Product.Age</p>
    <p>Breed: @Model.Product.Breed</p>
    <p>Location: @Model.Product.Location</p>
    <p>Description: @Model.Product.Description</p>
</div>


<!--Button for deleting and updating activities, and a button to adopt pet-->
    <div class="row">
        @if (Model.Password == "seattleu")
        {
            <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn adopt-btn">Delete</a>
            <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn adopt-btn">Update</a>
        }
        <a asp-page="Customer" asp-route-id="@Model.Product.Id" class="btn adopt-btn">Adopt</a>



    </div>
</body>

</html>
