@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Index1Model
@{
    ViewData["Title"] = "Pet Description";
}

<!DOCTYPE html>
<html lang="en">
<header>
    <h4>Pet Information</h4>
</header>


<body>
<!--Image of pet-->
    <img id="petimg" src="@Model.Product.Image" alt="{Add Image description}" />

<div>
    <!--Headers and information-->
    <p>Cost: @Model.Product.Cost</p>
    <p>Name: @Model.Product.Name, @Model.Product.Age</p>
    <p>Breed: @Model.Product.Breed</p>
    <p>Location: @Model.Product.Location</p>
    <p>Description: @Model.Product.Description</p>
</div>
</body>

</html>
