@page
@model ContosoCrafts.WebSite.Pages.SurveyModel
@using ContosoCrafts.WebSite.Models
@{
    ViewData["Title"] = "Survey";
}
<style>
    table {
        width: 100%
    }

    td, th {
        padding: 8px;
    }
</style>


@if (!string.IsNullOrEmpty(Model.Message))
{
    <h1>Result</h1>
   
        <p>@Model.Message</p>
        <br />
        <p>Please adopt these guys if you can!</p>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <!--Headers and information, will display pets of the breed requested or all pets, and shows thet types of each pet.-->
            @foreach (var pet in Model.Pets)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => pet.Name)</td>
                    <td><img src="@pet.Image" alt="Pet Image" height="400" width="500"></td>
                    <td>@Html.DisplayFor(modelItem => pet.Description)</td>
                 </tr>
            }
        </tbody>
    </table>
}

else
{
    <h1>Survey</h1>
    <form method="post">

        <p>@Model.Question1</p>
        <input type="radio" name="q1" value="smallfish" />a) $50 - $150 <br />
        <input type="radio" name="q1" value="largefish,other" />b) $100 - $600 <br />
        <input type="radio" name="q1" value="smalldog,cat" />c) $500 - $1000 <br />
        <input type="radio" name="q1" value="mediumdog,cat" />d) $700 - $1500 <br />
        <input type="radio" name="q1" value="smalldog,mediumdog,largedog" />e) $1000 - $3500<br />

        <br />
        <p>@Model.Question2</p>
        <input type="radio" name="q2" value="smallfish,largefish" /> a) 30 minutes - 1 hour per week<br />
        <input type="radio" name="q2" value="cat,other" /> b) 15 minutes - 30 minutes per day<br />
        <input type="radio" name="q2" value="smalldog,mediumdog,largedog" />c) 30 minutes - 2 hours per day<br />
        <br />
        <p>@Model.Question3</p>
        <input type="radio" name="q3" value="smallfish,largefish" /> a) 0 hours<br />
        <input type="radio" name="q3" value="other" /> b) 0 hours but providing toys and ample space to move around and play<br />
        <input type="radio" name="q3" value="cat" /> c) 10-15 minutes of playtime per day<br />
        <input type="radio" name="q3" value="smalldog,mediumdog,largedog" /> d) 30 minutes - 2 hours of playtime and exercise per day<br />
        <br />
        <p>@Model.Question4</p>
        <input type="radio" name="q4" value="smallfish,largefish,other" /> a) No, they should be kept in their cage or tank <br />
        <input type="radio" name="q4" value="cat,smalldog,mediumdog,largedog" /> b) Yes, I am comfortable with them roaming free<br />

        <br />
        <p>@Model.Question5</p>
        <input type="radio" name="q5" value="smallfish,largefish" /> a) I enjoy the soothing effect of watching my pets move around<br />
        <input type="radio" name="q5" value="other" /> b) I want a companion that can teach me about responsibility and caring for others while being easy for beginners like me to handle<br />
        <input type="radio" name="q5" value="cat" /> c) I need an independent companion that can help reduce stress and anxiety, even lower blood pressure<br />
        <input type="radio" name="q5" value="cat,smalldog,mediumdog,largedog" /> d) I want a best friend that can provide a sense of security and protection, help me stay active and healthy through regular exercise, and perform specific tasks such as guiding the blind, assisting people with disabilities, and serving as therapy animals<br />


        <br />
        <input type="submit" value="Submit" />
    </form>

}


